<h3> Found <%= @facade.find_food.count %>  search results for <%= @food %></h3>
<ol>
<% @facade.find_food.each do |food| %>
<li>GTIN/UPC: <%= food.gtinupc %></li>
<ul>
<li>Description <%= food.description %></li>
<li>Ingredients <%= food.ingredients %></li>
<li>BrandOwner <%= food.brandowner %></li><br>
  

</ul>
<% end %>
<ol>
