<h3> Found <%= @total_food_hits %>  search results for <%= @foods.first.description.downcase %></h3>
<ol>
<% @foods.first(10).each do |food| %>
<li>GTIN/UPC: <%= food.gtinupc %></li>
<ul>
<li>Description <%= food.description %></li>
<li>Ingredients <%= food.ingredients %></li>
<li>BrandOwner <%= food.brandowner %></li><br>
  

</ul>
<% end %>
<ol>
